
services:
  backend:
    build:
      context: ./backend    
      dockerfile: Dockerfile.dev

    ports:
      - "8000:8000"
      
    volumes:
      - ./backend:/app
    restart: "no"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev

    ports:
      - "3000:3000"
      
    volumes:
      - ./frontend:/app
      - /app/node_modules
      
    restart: "no"
    command: "npm run dev -- --host --port 3000"
    
    env_file:
      - ./frontend/.env